# Terraform state
*.tfstate
*.tfstate.*
.terraform/
.terraform.lock.hcl

# Secrets
*.tfvars.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Crash logs
crash.log
crash.*.log

# Generated docs
.terraform-docs.yml
